<speak xmlns="http://www.w3.org/2001/10/synthesis" xmlns:mstts="http://www.w3.org/2001/mstts" xmlns:emo="http://www.w3.org/2009/10/emotionml" version="1.0" xml:lang="{{ source_language }}">
    {% for paragraph in paragraphs %}
        {% for syntagma in paragraph.Sintagmas %}
            {% if source_language_voice %}
            <voice name="{{ source_language_voice }}">
                {{ syntagma.source_text }}
                <break time="{{ break_time }}"/>

        {# If slow repetion of sintagma has been specified #}
        {% if repeat_slowly %}
            <prosody rate="-50.00%">
                {{ syntagma.source_text }} 
            </prosody>
            <break time="{{ break_time }}"/>
        {% endif %}

            </voice>
            {% endif %}
            {% if target_language_voice %}
            <voice name="{{ target_language_voice }}">
                {{ syntagma.target_text }}
            </voice>
            {% endif %}
        {% endfor %}
    {% endfor %}
</speak>

